<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EquipeServlet</display-name>
    <servlet-name>EquipeServlet</servlet-name>
    <servlet-class>servlet.EquipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipeServlet</servlet-name>
    <url-pattern>/EquipeServlet</url-pattern>
  </servlet-mapping>
  <display-name>matchs-infos</display-name>
  <servlet>
    <description></description>
    <display-name>LieuxAccueilServlet</display-name>
    <servlet-name>LieuxAccueilServlet</servlet-name>
    <servlet-class>servlet.LieuxAccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LieuxAccueilServlet</servlet-name>
    <url-pattern>/LieuxAccueilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoueurServlet</display-name>
    <servlet-name>JoueurServlet</servlet-name>
    <servlet-class>servlet.JoueurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoueurServlet</servlet-name>
    <url-pattern>/JoueurServlet</url-pattern>
  </servlet-mapping>
</web-app>